{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>IntEarn</title>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-default">
  <div class="container-fluid" id="b-to-top">
    <a class="navbar-brand company-name" href="#">IntEarn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hi, {% if request.user.company %}
      {{company}}
      {% else %}
      {{student}}
      {% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          
          {% if student != None %}
          <li><a class="dropdown-item" style="color: black;" href="{% url 'student/profile' %}">Update Profile</a></li>
            <li><a class="dropdown-item" style="color: black;" href="{% url 'jobApplylist'  %}">My Jobs</a></li>
            <li><a class="dropdown-item" style="color: black;" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a class="dropdown-item" style="color: black;" href="{% url 'company/profile'  %}">Update Profile</a></li>
            <li><a class="dropdown-item" style="color: black;" href="{% url 'joblist'  %}">My Jobs</a></li>
            <li><a class="dropdown-item" style="color: black;" href="{% url 'logout' %}">Logout</a></li>
          {% endif %}
            
            
          </ul>
        </li>

      {% if request.user.is_authenticated %}
      <li class="nav-item signup">
      
      {% if request.user.company %}
      <a class="btn buttons" href="{% url 'company/profile' %}">{{request.user}}</a>
      {% else %}
      <a class="btn buttons" href="{% url 'student/profile' %}">{{request.user}}</a>
      {% endif %}
        
       
        </li>
       
        <li class="nav-item login">
          <a class="btn buttons" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item signup">
        <a class="btn buttons" href="{% url 'signup' %}">Signup</a>
        </li>
        <li class="nav-item login">
          <a class="btn buttons" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
      </ul>
      <form class="d-flex ">
        <input class="form-control search" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn search" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>
    {% block content %}
    {% endblock content %}
    <div class="footer">
      <hr class="top-hr">
      <div class="footer-top">
        <h4><a href="#b-to-top" class="btoTop"><i class="fas fa-chevron-double-up btoTopIcon"></i>Back to top</a></h4>
      </div>
      <hr class="hr1" />
      <div class="footer-end">
        <i class="fab fa-youtube fa-2x"></i>
        <i class="fab fa-2x fa-instagram"></i>
        <i class="fab fa-2x fa-twitter"></i>
        <i class="fab fa-2x fa-linkedin"></i>
        <p>© Copyright 2021 | IntEarn</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>
