{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="header-bar">
<form action="" method="post">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Submit">
</form>
</div>
    <div class="container">
          <div class="col-xs-4">
              <div class="form-group studentResume">
              <input type="file" class="filestyle btn-secondary" data-icon="false">
              <br>
              <br>
              <button class="btn btn-dark" type="submit">Submit</button>
            </div>
          </div>
    </div>

    {% endblock content %}