<div class="header-bar">
    <div>
        <h1>Hello <p>{{request.user|title}}</p></h1>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
    <h1>IntEarn Welcomes You</h1>
<h1>My Jobs list</h1>
    <a href="{% url 'jobpost-create'%}">Create New Job Post</a>
    <form  method="get">
    <input type="text" name="search-area">
    <input type="submit" value="search">
    </form>
    <table>
      <tr>
        <th>Jobs</th>
        <th></th>
        <th></th>
      </tr>
      {%for jobs in companyJobPost %}
      <tr>
        <td>{{jobs.jobname}}</td>
        <td><a href="{% url 'jobpost' jobs.id %}">view</a></td>
        <td><a href="{% url 'jobpost-update' jobs.id %}">edit</a></td>
        <td><a href="{% url 'jobpost-delete' jobs.id %}">delete</a></td>
      </tr>
      {%empty%}
      <h3>No items</h3>
      {% endfor %}
    </table>