{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<h1>My Jobs list</h1>
    <form  method="get">
    <input type="text" name="search-area">
    <input type="submit" value="search">
    </form>
    <table>
      <tr>
        <th>My Jobs</th>
        <th></th>
        <th></th>
      </tr>
      {%for job in jobs %}
      <tr>
        <td>{{job.JobPosted.jobname}} at {{job}}</td>
        <td><a href="{% url 'jobpost' job.JobPosted.id %}">view</a></td>
      </tr>
      {%empty%}
      <h3>No items</h3>
      {% endfor %}
    </table>
{% endblock content %}